body {
    
    font-size: 35px;
    color: #ff09de;
    margin: 0; /* 기본 여백 제거 */
    height: 100vh; /* 전체 화면 높이 */
    background-image: url('js/도요니.jpeg'); /* 배경 이미지 경로 */
    background-size: cover; /* 이미지가 화면을 가득 채우도록 설정 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: flex-start; /* 수직 중앙 정렬 */
    margin-top: 20px;
}

.hehe {
    font-size: 20px;
    color: #092431;
    margin-top: 250px;
    margin-right: 50px;
    white-space: nowrap;
}

.hihi {
    font-size: 35px;
    color: #ff08ce;
    
}
