body {
    margin: 0; /* 기본 여백 제거 */
    height: 100vh; /* 전체 화면 높이 */
    background-image: url('js/도요니.jpeg'); /* 배경 이미지 경로 */
    background-size: cover; /* 이미지가 화면을 가득 채우도록 설정 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.hehe {
    font-size: 20px;
    color: #092431;
    margin-top: 250px;
    margin-right: 55px;
    white-space: nowrap;
}

.hihi {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.haha {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.birthday-message {
    text-align: center; /* 텍스트 중앙 정렬 */
}